* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.bg {
  /* The image used */
  background-image: url("Image/I\ guess\ bein'\ free\ is\ like_\ 1.png");

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.row {
  height: 30rem;
  width: 100%;
}

img {
  margin-bottom: -15% !important;
  z-index: 1;
}

@media screen and (max-width: 985px ) {
  .col-4{
    width: 50%;
  }
}

@media screen and (max-width: 782px ) {
  .col-4{
    width: 75%;
  }
}